<head>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" crossorigin="anonymous">		
</head>
<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link <?php if(!isset($_GET['my_task']) || isset($_GET['all_task'])){echo 'active';}; ?>" href="index.php?all_task=all+Tasks">
          <span data-feather=""><i class="fas fa-tachometer-alt"></i></span>
         Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link <?php if(isset($_GET['my_task'])){echo 'active';}; ?>" href="index.php?my_task=My+Tasks">
          <span ><i class="fas fa-user-tie"></i></span>
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout.php">
          <span data-feather=""><i class="fas fa-power-off"></i></span>
          Sign out
        </a>
      </li>
    </ul>
  </div>
</nav>