<link href="css/admin.css" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<nav class="navbar navbar-dark bg-dark navbar-left fixed-top bg-dark flex-md-nowrap p-0">
 <a style="color:white; font-size:20px;"> Course Competeny Determination </a>
</nav>
